.mapGridE{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.profile {
    margin-top: 10px;
    width: 200px;
    height: 300px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 10px
}

.profile .image img {
    border-radius: 10px
}

.profile .image {
    position: absolute;
    transition: all 0.5s;
    z-index: 100
}

.profile:hover .image {
    transform: translate(-40px, -50px)
}

.profile .content {
    position: absolute;
    bottom: 100px;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 19px;
    transition: all 0.5s;
    transition-delay: 0.5s
}

.profile:hover .content {
    bottom: 8px;
    right:8px
}

.profile .content span:nth-child(1) {
    font-size: 17px
}

.profile .content span:nth-child(2) {
    font-size: 13px
}
@media only screen  and (max-width:688px){
    .mapGridE{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    
}
@media only screen  and (min-width:689px) and (max-width:990px){
    .mapGridE{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    
}